################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VideoShopProject/.vs/VideoShopProject/v15/Server/sqlite3
