@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>How to contact me.</h3><br/>



<address>
    <strong>Support:</strong>   <a href="mailto:Simon.Lindmer@gmail.com">Simon.Lindmer@gmail.com</a>
   
</address>